<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <title>Personal Budget</title>
</head>

<body>
    <div class="container">
        <h1>Personal Budget</h1>
        <div class="row mt-3">
            <div class="col-md-2">
                <a th:href="@{/earner}" class="btn btn-info" role="button">Earners</a>
            </div>
            <div class="col-md-2">
                <a th:href="@{/category}" class="btn btn-info" role="button">Categories</a>
            </div>
            <div class="col-md-2">
                <a th:href="@{/earning}" class="btn btn-info" role="button">Earnings</a>
            </div>
            <div class="col-md-2">
                <a th:href="@{/expense}" class="btn btn-info" role="button">Expenses</a>
            </div>
        </div>
        <hr/>
        <h2> Total Expenses:</h2>
        <p> <span th:text="${totalExpenses}" style="font-size: 24px; font-weight: bold;"></span> zł  </p>

    </div>
</body>

</html>